.clients {
  background-image: url("/Images/testimonial-section/orbit.png");
  background-color: #292e47;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 50px;
  padding-top: 60px;
  min-height: 600px;

}

.text-client {
  color: white;
  text-align: center;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.text-blue {
    color: #A2D6F9;
}

.text-e-profile {
    text-align: left;
}

.sub-client {
  color: #ffc600;
  text-align: center;
  padding-bottom: 40px;
  position: relative;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 50px;

}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
margin-top: 50px;
  position: relative;
}

.image-client {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;

}

.figures-top {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: -350px;
}

.image-emoji-top-left {
  width: 150px;
}

.image-emoji-top-right {
  width: 150px;
}

.figures-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

.image-emoji-botom-left {
  width: 150px;
}

.image-emoji-bottom-right {
  width: 150px;
}




@media (max-width: 900px) {
  .image-emoji-top-left  {
      display: none;
  }
  .image-emoji-top-right  {
    display: none;
}  .image-emoji-botom-left  {
  display: none;
}  .image-emoji-bottom-right  {
  display: none;
}
.sub-client {
  margin-top: 0px;
}
.profile {
  margin-top: -20px;
}
.text-client {
  margin-top: -0px;
}
.section {
  margin-top: -150px;
}
}



