
footer {
    height: 300px;
    margin: 50px ;
    padding: 120px 120px;
    display:flex;
    justify-content: space-between;
    width: 95%;
}

.email-form {
    background-color: #FFC600 ;
    height: 500px;
    margin: 50px ;
    display: flex;
    width: 93%;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    margin-top: 40px;
    border-radius: 0px;
    padding: 35px 160px 35px 20px;
    font-weight: 700;
}

.fa-envelope {
    margin-top: 110px;
    
    
}

.email-flex {
    display: flex;
    justify-content:space-between ;
    flex-direction: row;

}

.email {
    background-color: #072ac8 ;
    color: white;
    border-radius: 0px;
    border: none;
    padding: 35px 100px 35px 20px;
    margin-top: 40px;
    margin-left: 40px;
    text-align: center;
    font-weight: 700;
    
}

.email:hover{
    background-color:#292E47;
    color: white;
}


.address {
    width: 380px;
    margin-left: 30%;
}

.logo-footer {
    width: 100px;
}

.text-footer {
color: #072ac8 !important;
font-weight: 500 !important;
padding: 0px 30px 30px 30px ;
}

.text-footer:hover{
    background-color:none !important;
    text-decoration: none !important;
}

@media (max-width: 900px) {
    h3  {
    text-align: center;
    }
    h1  {
        text-align: center;
        }
    .todo-footer {
        margin-left: -15%;
        
    }
    .address {
        margin-left: 0%; 
        margin-top: -10%;
        margin-bottom: 10%; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .email-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }


  
  