.hero {
  margin: 0px 0px 120px -100px !important;
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.hero-body {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 200px;
}

.hero-info {
  width: 530px;
  display: flex;
  flex-direction: column;
}

.work-btn {
  background-color: transparent;
  border-radius: 0 !important;
  color: #292e47 !important;
  padding: 25px 30px 25px 15px !important;
  margin-top: 30px;
  margin-left: -15px;
  border: none;
}

.get-btn {
  background-color: #072ac8;
  border-radius: 0 !important;
  color: white !important;
  padding: 25px 30px 25px 30px !important;
  margin-top: 30px;
}

.get-btn:hover {
  background-color: #292e47;
}

.hero-pictures {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: -100px;
  margin-bottom: 250px;
}

.hero-image {
  width: 560px;
  position: absolute;
}

.card-1 {
  position: relative;
  width: 300px;
  height: 300px;
  min-width: 300px;
  left: -120px;
}

.card-2 {
  width: 300px;
  height: 300px;
  min-width: 300px;
  position: relative;
  right: -100px;
  top: 500px;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 70%;
  margin-left: 13%
}

@media (max-width: 900px) {
  .amazon {
     display: none;
  }
  .logos {
    margin-top: -100px;
  margin-left: 15%;
  }
  .logo-a {
    padding: 20px;
  }
  .hero-pictures {
    margin-left: -15%;
  }
  .hero-info {
    margin-top: -15%;
    margin-left: 22%;
  }
  .title-principal {
    font-size: 40px !important;
  }
  .botones {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
