
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url(./bulma/css-bulma/bulma.css);
@import url(./navbar.css);
@import url(./hero.css);
@import url(./projects.css);
@import url(./services.css);
@import url(./footer.css);
@import url(./clients.css);

/*

Blue 072AC8
Blue medium 43D2FF
Blue ligth A2D6F9

Gray 292E47
Gray medium 6B708D
Gray light F2F4FC

Yellow FFC600

*/

html {
    background-color:#F2F4FC;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 60px !important;
    font-weight: 700;
}

h2 {
    font-size: 50px;
    font-weight: bold;
}

h3 {
    font-size: 40px;
    font-weight: bold;
}

h4 {
    font-size: 24px;
    font-weight: bold;
}

.text-a {
    font-size: 24px;
    font-weight: 500;
}

.text-b {
    font-size: 20px;
    font-weight: 500;
    color: #6B708D;
}

.text-c {
    font-size: 17px;
    font-weight: 400;
}

.text-d {
    font-size: 17px;
    font-weight: 500;
}

.text-e {
    font-size: 15px;
    font: 500;
}

.text-f {
    font-size: 10px;
    font-weight: 400;
}
