.projects {
  padding: 200px 10px;
  margin-left: 10%;
  width: 80%;
}

.recent {
  padding-bottom: 70px;
}

.card-recent {
  display: flex;
  justify-content: space-between;

}
.article-projects {
  background-color: white;
  width: 340px;


}

.card-icon-recent {
  border-radius: 0rem;
  background-color: white;
  height: 400px;
  padding-top: 60px;
}

.card-projects {
  display: flex;
  justify-content: space-between;

}

.card-image {
  background-color: none;
  padding-bottom: 35px;
}

.card-image img {
  border-radius: 0rem;
}
.card-image:first-child img {
  border-radius: 0rem;
}
.card-image:last-child img {
  border-radius: 0rem;
}
.image-recent {
  width: 350px;
  height: 250px;
}
.text-a-card {
  font-size: 24px;
  font-weight: 700 !important;
  padding-top: 30px;
  padding-left: 30px;

}

.text-c-card {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.25rem;
  padding-left: 30px;
}

.lear-btn {
  background-color: transparent;
  border-radius: 0 !important;
  color: #072ac8 !important;
  padding: 35px 0px 35px 15px !important;
  margin-top: 30px;
  margin-left: 15px;
  border: none;
}
