.services {
  padding: 200px 140px;
  width: 100vw;

}

.recent {
  padding-bottom: 70px;
}

.card-icon-services {
  border-radius: 0rem;
  background-color: white;
  height: 370px;
  padding: 50px 20px 0px 0px;
  margin-left: 0px;
  margin-right: 35px;
  position: relative;
  width: 33%;
}

.card-services {
  display: flex;
  justify-content: space-between;
  margin-right: 0px;
}

.lear-btn-recent {
  background-color: transparent;
  border-radius: 0 !important;
  color: #072ac8 !important;
  padding: 15px 0px 25px 15px !important;
  margin-top: 20px;
  margin-left: 15px;
  border: none;
}

.icon-one {
  background-color: #ecf7ff;
  background-image: url("./Images/services-section/icons/1.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  padding-top: 80px;
  padding-left: 80px;
  margin-left: 130px;
  margin-top: 30px;
}

.icon-two {
  background-color: #ecf7ff;
  background-image: url("/Images/services-section/icons/2.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  padding-top: 80px;
  padding-left: 80px;
  margin-left: 130px;
  margin-top: 30px;
}

.icon-third {
  background-color: #ecf7ff;
  background-image: url("/Images/services-section/icons/3.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  padding-top: 80px;
  padding-left: 80px;
  margin-left: 130px;
  margin-top: 30px;
}
